<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# viteサーバー起動時にvite_client_tagの箇所にscriptタグが出力される %>
    <!-- ここにvite_client_tag  -->
    <%= vite_client_tag %>
    
    <%# 共通のCSS %>
    <%= vite_stylesheet_tag 'css/application' %>
    <%# ページ固有のCSS %>
    <%= yield :stylesheet %> 

    <%# 共通のJS %>
    <%= vite_javascript_tag 'js/application' %>
    <%# ページ固有のJS %>
    <%= yield :scripts %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
